<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Book">
    <insert id="save" parameterType="book">
        insert into book_table(bookName, bookAuthor, bookPrice, bookPublisher)
        values (#{bookName}, #{bookAuthor}, #{bookPrice}, #{bookPublisher})
    </insert>

<!--    넘겨받은(줄)게 없기에 파라미터 타입 없어도 됨-->
    <select id="findBook" resultType="book">
        select * from book_table where bookId=2
    </select>
</mapper>